WSDL Files/AffectationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://Services" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Services">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://Services">
            <xs:element name="AffectationService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="idProject" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AffectationServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="AffectationServiceRequest">
        <wsdl:part name="parameters" element="ns:AffectationService"/>
    </wsdl:message>
    <wsdl:message name="AffectationServiceResponse">
        <wsdl:part name="parameters" element="ns:AffectationServiceResponse"/>
    </wsdl:message>
    <wsdl:portType name="AffectationServicePortType">
        <wsdl:operation name="AffectationService">
            <wsdl:input message="ns:AffectationServiceRequest" wsaw:Action="urn:AffectationService"/>
            <wsdl:output message="ns:AffectationServiceResponse" wsaw:Action="urn:AffectationServiceResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AffectationServiceSoap11Binding" type="ns:AffectationServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="AffectationService">
            <soap:operation soapAction="urn:AffectationService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AffectationServiceSoap12Binding" type="ns:AffectationServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="AffectationService">
            <soap12:operation soapAction="urn:AffectationService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AffectationServiceHttpBinding" type="ns:AffectationServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="AffectationService">
            <http:operation location="AffectationService"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AffectationService">
        <wsdl:port name="AffectationServiceHttpSoap11Endpoint" binding="ns:AffectationServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/AffectationService.AffectationServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AffectationServiceHttpSoap12Endpoint" binding="ns:AffectationServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/AffectationService.AffectationServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AffectationServiceHttpEndpoint" binding="ns:AffectationServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/AffectationService.AffectationServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>