WSDL Files/PlanExecutionService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://Services" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Services">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://Services">
            <xs:element name="PlanExecutionService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="typeProjet" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PlanExecutionServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RandomSOA">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="capaciteMaxChaqueEquipe" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RandomSOAResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="main">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="args" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="mainRequest">
        <wsdl:part name="parameters" element="ns:main"/>
    </wsdl:message>
    <wsdl:message name="RandomSOARequest">
        <wsdl:part name="parameters" element="ns:RandomSOA"/>
    </wsdl:message>
    <wsdl:message name="RandomSOAResponse">
        <wsdl:part name="parameters" element="ns:RandomSOAResponse"/>
    </wsdl:message>
    <wsdl:message name="PlanExecutionServiceRequest">
        <wsdl:part name="parameters" element="ns:PlanExecutionService"/>
    </wsdl:message>
    <wsdl:message name="PlanExecutionServiceResponse">
        <wsdl:part name="parameters" element="ns:PlanExecutionServiceResponse"/>
    </wsdl:message>
    <wsdl:portType name="PlanExecutionServicePortType">
        <wsdl:operation name="main">
            <wsdl:input message="ns:mainRequest" wsaw:Action="urn:main"/>
        </wsdl:operation>
        <wsdl:operation name="RandomSOA">
            <wsdl:input message="ns:RandomSOARequest" wsaw:Action="urn:RandomSOA"/>
            <wsdl:output message="ns:RandomSOAResponse" wsaw:Action="urn:RandomSOAResponse"/>
        </wsdl:operation>
        <wsdl:operation name="PlanExecutionService">
            <wsdl:input message="ns:PlanExecutionServiceRequest" wsaw:Action="urn:PlanExecutionService"/>
            <wsdl:output message="ns:PlanExecutionServiceResponse" wsaw:Action="urn:PlanExecutionServiceResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PlanExecutionServiceSoap11Binding" type="ns:PlanExecutionServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="main">
            <soap:operation soapAction="urn:main" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="RandomSOA">
            <soap:operation soapAction="urn:RandomSOA" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PlanExecutionService">
            <soap:operation soapAction="urn:PlanExecutionService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PlanExecutionServiceSoap12Binding" type="ns:PlanExecutionServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="main">
            <soap12:operation soapAction="urn:main" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="RandomSOA">
            <soap12:operation soapAction="urn:RandomSOA" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PlanExecutionService">
            <soap12:operation soapAction="urn:PlanExecutionService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PlanExecutionServiceHttpBinding" type="ns:PlanExecutionServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="main">
            <http:operation location="main"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="RandomSOA">
            <http:operation location="RandomSOA"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PlanExecutionService">
            <http:operation location="PlanExecutionService"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PlanExecutionService">
        <wsdl:port name="PlanExecutionServiceHttpSoap11Endpoint" binding="ns:PlanExecutionServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/PlanExecutionService.PlanExecutionServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PlanExecutionServiceHttpSoap12Endpoint" binding="ns:PlanExecutionServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/PlanExecutionService.PlanExecutionServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PlanExecutionServiceHttpEndpoint" binding="ns:PlanExecutionServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/PlanExecutionService.PlanExecutionServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>