WSDL Files/VerificationTypeProjectService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://Services" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Services">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://Services">
            <xs:element name="VerificationTypeProjectService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clientNom" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="clientPrenom" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="choixProjet" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="VerificationTypeProjectServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="VerificationTypeProjectServiceRequest">
        <wsdl:part name="parameters" element="ns:VerificationTypeProjectService"/>
    </wsdl:message>
    <wsdl:message name="VerificationTypeProjectServiceResponse">
        <wsdl:part name="parameters" element="ns:VerificationTypeProjectServiceResponse"/>
    </wsdl:message>
    <wsdl:portType name="VerificationTypeProjectServicePortType">
        <wsdl:operation name="VerificationTypeProjectService">
            <wsdl:input message="ns:VerificationTypeProjectServiceRequest" wsaw:Action="urn:VerificationTypeProjectService"/>
            <wsdl:output message="ns:VerificationTypeProjectServiceResponse" wsaw:Action="urn:VerificationTypeProjectServiceResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VerificationTypeProjectServiceSoap11Binding" type="ns:VerificationTypeProjectServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="VerificationTypeProjectService">
            <soap:operation soapAction="urn:VerificationTypeProjectService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="VerificationTypeProjectServiceSoap12Binding" type="ns:VerificationTypeProjectServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="VerificationTypeProjectService">
            <soap12:operation soapAction="urn:VerificationTypeProjectService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="VerificationTypeProjectServiceHttpBinding" type="ns:VerificationTypeProjectServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="VerificationTypeProjectService">
            <http:operation location="VerificationTypeProjectService"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="VerificationTypeProjectService">
        <wsdl:port name="VerificationTypeProjectServiceHttpSoap11Endpoint" binding="ns:VerificationTypeProjectServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/VerificationTypeProjectService.VerificationTypeProjectServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="VerificationTypeProjectServiceHttpSoap12Endpoint" binding="ns:VerificationTypeProjectServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/VerificationTypeProjectService.VerificationTypeProjectServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="VerificationTypeProjectServiceHttpEndpoint" binding="ns:VerificationTypeProjectServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/VerificationTypeProjectService.VerificationTypeProjectServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>